* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f9fafb;
    color: #2c4272;
}

header, footer {
    background-color: #1f2937;
    color: #ffffff;
    text-align: center;
    padding: 25px;
}