* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #dfe8f1;
    color: rgb(41, 43, 70);
}


header,
footer {
    background-color: #1f2937;
    color: white;
    padding: 24px;
    text-align: center
}