* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #e4e6e7;
    color: #2c4272;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}



header, footer {
    background-color: #1f2937;
    color: #ffffff;
    text-align: center;
    padding: 25px;
}

.book-card{
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 16px;
}

.status {
    font-weight: bold;
}

.available {
    color: #059669;
}

.borrowed {
    color: #dc2626;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px
}

main{
    padding: 40px 0;
    flex: 1;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 24px;
}





